
body{
   
}

#logo{
    width: 100%;
    height: 600px;

}

.principal{
    background: blue;
}


h1 {
    text-align: center;
  
}

p {
text-align: center  
}

#missao{
    font-size: 20px
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.valores {
    background: white;
}

h2{
    text-align: center;
}


#logovalores{
    width: 100%;
    height: 600px;
}